.Body {
  flex: 0.8;
  height: 100vh;
  color: white;
  padding: 20px;
  overflow-y: overlay;
  background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
}

.Body::-webkit-scrollbar {
  display: none;
}

.Body-info {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.Body-info > img {
  height: 20vw;
  margin: 0 20px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.Body-infoText {
  flex: 1;
}

.Body-infoText > h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

.Body-infoText > p {
  font-size: 14px;
}

.Body-songs {
}

.Body-icons {
  display: flex;
  align-items: center;
}

.Body-icons > .MuiSvgIcon-root {
  margin-right: 20px;
}

.Body-shuffle {
  font-size: 80px !important;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Body-shuffle:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.08);
}
