.Body {
  flex: 0.8;
  height: 100vh;
  color: white;
  padding: 20px;
  background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
}

.Body-info {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.Body-info > img {
  height: 20vw;
  margin: 0 20px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.Body-infoText {
  flex: 1;
}

.Body-infoText > h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

.Body-infoText > p {
  font-size: 14px;
}
