.Sidebar {
  flex: 0.2;
  color: white;
  background-color: #040404;
  height: 100vh;
  min-width: 230px;
  padding-left: 10px;
  padding-right: 10px;
}

.Sidebar-logo {
  object-fit: contain;
  height: 70px;
  margin-right: auto;
  padding: 10px;
}
